// Colors
$color-primary: #ffe600;
$color-secundary: #333333;
$color-whitesmoke: #666666;
$color-gray: #999999;
$color-gray2: #eeeeee;
$color-btn: #3483fa;

// Sizes
$size-16: 16px;
$size-32: 32px;

@import "./styles/main"
